* {
  margin: 0px;
  padding: 0px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

/* table {
  border: 2px solid black;
} */

table {
  border: 2px solid black;
  margin: auto;
}

.cell {
    height: 50px;
    width: 50px;
    text-align: center;
}
